main{
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;

}

.mensaje{
    position: relative;
    margin-top: 20px;
    margin-left: 90px;
    background-image: url("img/Muñeco.png");
    background-repeat: no-repeat;
    background-position: 18px;
    background-size: 300px;

}

body{
    background-color: #E5E5E5;
}
.input-text{
    margin-top: 90px;
}
